# Nilai Unique dan Mengurutkan Data

## Nilai Unique

Di dalam dataframe ada beberapa method/fungsi yang bisa digunakan untuk mengetahui nilai unique dari kolom-kolomnya.

In [ ]:
import pandas as pd
pd.options.display.max_columns = None

df = pd.read_csv('/content/drive/MyDrive/Belajar Data Analisis Python/sample_data/STEM_Salaries.csv')
df.sample(3)

In [ ]:
df['title'].nunique()

15

In [ ]:
df['title'].unique()

array(['Product Manager', 'Software Engineer',
       'Software Engineering Manager', 'Data Scientist',
       'Solution Architect', 'Technical Program Manager',
       'Human Resources', 'Product Designer', 'Marketing',
       'Business Analyst', 'Hardware Engineer', 'Sales', 'Recruiter',
       'Mechanical Engineer', 'Management Consultant'], dtype=object)

In [ ]:
df['title'].value_counts()

title
Software Engineer               41231
Product Manager                  4673
Software Engineering Manager     3569
Data Scientist                   2578
Hardware Engineer                2200
Product Designer                 1516
Technical Program Manager        1381
Solution Architect               1157
Management Consultant             976
Business Analyst                  885
Marketing                         710
Mechanical Engineer               490
Sales                             461
Recruiter                         451
Human Resources                   364
Name: count, dtype: int64

In [ ]:
df['Education'].value_counts()

Education
Master's Degree      15391
Bachelor's Degree    12601
PhD                   1703
Some College           355
Highschool             320
Name: count, dtype: int64

## Mengurutkan Data

In [ ]:
# Mengurutkan data berdasarkan satu kolom
df.sort_values(by = 'basesalary', ascending=False) #coba ascending True

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,otherdetails,cityid,dmaid,rowNumber,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
62351,1/5/2018 13:59:58,Microsoft,64,Product Manager,250000,"Redmond, WA",13.0,13.0,NaN,1659870.0,49850.0,31500.0,NaN,NaN,11521,819.0,213,0,0,0,0,0,0,0,0,0,0,NaN,NaN
61851,6/12/2018 5:04:06,Squarespace,Senior I,Software Engineer,162000,"New York, NY",7.0,7.0,API Development (Back-End),1620000.0,0.0,0.0,Male,"Lots of vested ISOs, some fresh RSUs, illiquid.",10182,501.0,889,0,0,0,0,0,0,0,0,0,0,NaN,NaN
45054,3/15/2021 13:26:40,PwC,Partner / Principal,Management Consultant,900000,"Raleigh, NC",22.0,4.0,"Cloud, IoT",900000.0,0.0,0.0,Male,"Title: Digital Transformation, Race: Asian, Ac...",1317,560.0,61610,1,0,0,0,0,1,0,0,0,0,Asian,Master's Degree
56175,6/30/2021 15:26:10,Netflix,Senior Software Engineer,Software Engineer,893000,"Los Gatos, CA",19.0,8.0,Platform,893000.0,0.0,0.0,Male,"Title: Senior Software Engineer, Race: White, ...",7277,807.0,76169,0,1,0,0,0,0,1,0,0,0,White,Bachelor's Degree
57701,7/14/2021 16:23:01,Netflix,Senior Software Engineer,Software Engineer,861000,"Los Gatos, CA",15.0,7.0,Video,861000.0,0.0,0.0,Male,"Title: Senior Software Engineer, Race: White, ...",7277,807.0,78180,0,1,0,0,0,0,1,0,0,0,White,Bachelor's Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4179,2/7/2019 6:52:43,IBM,Band7,Software Engineer,120000,"Boston, MA",0.0,0.0,Web Development (Front-End),0.0,0.0,0.0,Male,NaN,8816,506.0,5705,0,0,0,0,0,0,0,0,0,0,NaN,NaN
4176,2/7/2019 5:01:03,Goldman Sachs,Executive Director / Vice-President,Software Engineering Manager,285000,"New York, NY",10.0,9.0,Full Stack,0.0,0.0,0.0,Other,NaN,10182,501.0,5702,0,0,0,0,0,0,0,0,0,0,NaN,NaN
9155,7/26/2019 14:18:17,Cisco,Software Engineer 1,Software Engineer,100000,"San Jose, CA",5.0,4.0,DevOps,0.0,0.0,0.0,NaN,NaN,7422,807.0,12439,0,0,0,0,0,0,0,0,0,0,NaN,NaN
9161,7/26/2019 19:17:34,Veritas Technologies,Senior Principal SWE,Solution Architect,180000,"Santa Clara, CA",15.0,4.0,Business,0.0,0.0,0.0,NaN,NaN,7434,807.0,12451,0,0,0,0,0,0,0,0,0,0,NaN,NaN
3762,1/17/2019 21:51:20,Amazon,L7,Product Designer,418000,"San Francisco, CA",14.0,4.0,Full Stack,0.0,0.0,0.0,NaN,NaN,7419,807.0,5164,0,0,0,0,0,0,0,0,0,0,NaN,NaN

In [ ]:
# Mengurutkan data berdasarkan multiple columns
df.sort_values(by = ['title', 'basesalary'], ascending=True)[['company', 'title', 'basesalary']].head(20)

                       company             title  basesalary
4393            Morgan Stanley  Business Analyst         0.0
6866                   Cummins  Business Analyst         0.0
7697   The Walt Disney Company  Business Analyst         0.0
30149            ZS associates  Business Analyst      9000.0
38897            ZS Associates  Business Analyst     10000.0
38258             Walmart Labs  Business Analyst     11000.0
42400                   Unisys  Business Analyst     11000.0
33101            ZS Associates  Business Analyst     12000.0
38554                Accenture  Business Analyst     14000.0
31015                     Citi  Business Analyst     15000.0
57194                   Swiggy  Business Analyst     15000.0
30726                  Globant  Business Analyst     17000.0
58553                  PepsiCo  Business Analyst     18000.0
35891         American Express  Business Analyst     19000.0
50551                   Google  Business Analyst     19000.0
53530               AT Kearney  Business Analyst     20000.0
54983                Capgemini  Business Analyst     20000.0
25598             Walmart Labs  Business Analyst     22000.0
36703                  Epsilon  Business Analyst     22000.0
55259                    Rappi  Business Analyst     22000.0

In [ ]:
# Mengurutkan berdasarkan index
df_title_index = df.set_index('title')

In [ ]:
df_title_index.sort_index()

,timestamp,company,level,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,otherdetails,cityid,dmaid,rowNumber,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
title,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Business Analyst,7/18/2020 11:37:18,Tata Consultancy Services,AST,101000,"Santa Clara, CA",10.0,10.0,Supply Chain Management,101000.0,0.0,0.0,Male,"Race: Asian, Academic Level: Bachelor’s degree",7434,807.0,33460,0,1,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
Business Analyst,2/10/2021 15:06:54,Qualtrics,L4,110000,"Chicago, IL",5.0,1.0,Technology Consultant,98000.0,8000.0,5000.0,Male,"Race: Hispanic / Latino, Academic Level: Bache...",8198,602.0,57185,0,1,0,0,0,0,0,0,0,1,Hispanic,Bachelor's Degree
Business Analyst,11/17/2020 6:29:19,Veritas Technologies,Principal,109000,"Orlando, FL",13.0,4.0,Analytic,102000.0,0.0,7000.0,Male,"Remote, Title: Principal Business Operations A...",7776,534.0,48716,0,0,0,0,0,0,1,0,0,0,White,NaN
Business Analyst,6/26/2020 10:18:30,Chase,Senior,170000,"Redwood City, CA",6.0,3.0,Data,155000.0,0.0,15000.0,Male,Masters,7392,807.0,31624,1,0,0,0,0,0,0,0,0,0,NaN,Master's Degree
Business Analyst,9/30/2020 12:09:06,Amazon,L6,185000,"Seattle, WA",8.0,0.0,Infrastructure,145000.0,3000.0,40000.0,NaN,Title: Sr. Program Manager,11527,819.0,43361,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Technical Program Manager,5/16/2021 19:10:44,Lockheed Martin,IC4,173000,"Denver, CO",10.0,4.0,Spacecraft,170000.0,0.0,3000.0,Male,"Title: Systems Engineer, Race: White, Academic...",7548,751.0,70076,1,0,0,0,0,0,1,0,0,0,White,Master's Degree
Technical Program Manager,8/13/2021 7:27:26,HPE,Expert,86000,"Taipei, TP, Taiwan",13.0,7.0,Server,79000.0,0.0,7000.0,NaN,Title: Software Pm,6744,0.0,83147,0,0,0,0,0,0,0,0,0,0,NaN,NaN
Technical Program Manager,6/6/2020 14:29:20,Amazon,L6,241000,"Seattle, WA",14.0,4.0,Hardware,151000.0,90000.0,0.0,NaN,Masters,11527,819.0,30229,1,0,0,0,0,0,0,0,0,0,NaN,Master's Degree
Technical Program Manager,2/13/2021 0:17:44,AT&T,L2,117000,"Dallas, TX",6.0,1.0,Data,106000.0,0.0,12000.0,Male,"Title: Lead Manager, Race: Asian, Academic Lev...",11039,623.0,57488,0,1,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
Technical Program Manager,4/6/2021 16:32:56,PayPal,Level 26,276000,"San Jose, CA",15.0,3.0,Payments,173000.0,60000.0,43000.0,Male,"Title: Senior Technical Program Manager, Acade...",7422,807.0,64456,1,0,0,0,0,0,0,0,0,0,NaN,Master's Degree